<p>
  Home Works, oh yeah baby!
</p>

<table class="pricing-table mq-table">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Category Name</th>
      <th>Category ID</th>
      <th>Bisinesses</th>
      <th>Map Pointer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-right"></td>
      <td><strong>1</strong></td>
      <td><strong>Master</strong></td>
      <td><strong>Master</strong></td>
      <td><strong>Master</strong></td>
      <td><strong>Master</strong></td>
      <td><a href="#" class="">Edit</a></td>
    </tr>
  </tbody>
</table>